.bbb{
    margin: 0px 52.65%;
    border:2px solid rgb(5, 127, 97);
    font-size: 14px;
    color: rgb(5, 127, 97);
    cursor: pointer;
    padding: 5px 15px;
    background-color: white;
    width: 150px;
    

}